#layers {
  z-index: 1000;
}

.li:first-child {
  border-top: 2px solid #23beb9;
  border-left: 2px solid #23beb9;
  border-right: 2px solid #23beb9;
  border-radius: 6px 6px 0px 0px;
}

.li:last-child {
  border-bottom: 2px solid #23beb9;
  border-left: 2px solid #23beb9;
  border-right: 2px solid #23beb9;
  border-radius: 0px 0px 6px 6px;
}

.li:only-child {
  border-radius: 6px;
}

.li {
  border-left: 2px solid #23beb9;
  border-right: 2px solid #23beb9;
  list-style-type: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  color: white;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  padding-left: 10px;
  background-color: black;
}

.li:hover {
  border-left: 2px solid #23beb9;
  border-right: 2px solid #23beb9;
  list-style-type: none;
  background-color: #23beb9;
  color: white;
}

.li:hover span {
  color: white;
}
