.accordion-item-open .accordion-ull2 {
  max-height: 250px;
  transition-duration: 0.5s;
  transition-property: max-height;
}

.accordion-ull2 {
  max-height: 0px;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-property: max-height;
}
